@import "tailwindcss";

body {
  @apply bg-[#3A583C];
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}
